# build artifacts
build/
/drivers/out/
/drivers/build/
/drivers/target/
/drivers/prebuilt/
iso_root
*.hdd
*.iso
store/
kernel/roanix-*
kernel/target/
userland/.jinx-cache/
userland/drivers/
userland/host-sources/
userland/sources/
__pycache__/

# editor artifacts
*.swp
.vscode/

# mdbook
book/book/

# device tree artifacts
*.dtb
*.dts

# custom scripts
*.sh

# agent skills
.agents/
skills-lock.json
