# jinx artifacts
userland/jinx
userland/jinx-config
userland/.jinx-cache
userland/sources
userland/builds
userland/pkgs
userland/host-builds
userland/host-pkgs

# build artifacts
iso_root
*.hdd
*.iso
target/
store/

# editor artifacts
*.swp
.vscode/
